@theme {
    --color-text: var(--color-base-content);
    --color-muted: color-mix(in oklch, var(--color-base-content) 65%, #0000);
    --color-border: var(--color-base-200);
    --color-background: var(--color-base-100);
}

:root.dark {
    /*--color-text: #fff;*/
    /*--color-border: #374151;*/
    /*--color-background: #111827;*/
}

/*
@media (prefers-color-scheme: dark) {
  :root {
    --color-background: var(--vt-c-black);
    --color-background-soft: var(--vt-c-black-soft);
    --color-background-mute: var(--vt-c-black-mute);

    --color-border: var(--vt-c-divider-dark-2);
    --color-border-hover: var(--vt-c-divider-dark-1);

    --color-heading: var(--vt-c-text-dark-1);
    --color-text: var(--vt-c-text-dark-2);
  }
}*/

body {
    min-height: 100vh;
    line-height: 1.5;
    /* daisy theme used */
    /*color: var(--color-text);*/
    /*background: var(--color-background);*/
    transition: color 0.5s,
    background-color 0.5s;
    /*
    font-family:
      Inter,
      -apple-system,
      BlinkMacSystemFont,
      'Segoe UI',
      Roboto,
      Oxygen,
      Ubuntu,
      Cantarell,
      'Fira Sans',
      'Droid Sans',
      'Helvetica Neue',
      sans-serif;
    font-size: 15px;
    text-rendering: optimizeLegibility;*/
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
