:root {
    --h-field-title-height: 18px;
    --h-field-title-margin: 6px;
    --h-field-input-height: 24px;
    --h-field-vertical-padding: 12px;
    --h-field-horizontal-padding: 14px;
}

/*.h-field-input-text() {
    font-size: 18px; font-weight: 500; line-height: @h-field-input-height;
}
.h-field-title-text-small() {
    font-size: 12px; font-weight: 500; line-height: var(--h-field-title-height);
}
.h-field-title-text() {
    .h-field-title-text-small();
    font-size: 14px; font-weight: 500; line-height: var(--h-field-title-height);
}*/
.h-field {
    position: relative;
    display: flex;
    width: 100%;
    padding: calc(var(--h-field-vertical-padding) - 2px) calc(var(--h-field-horizontal-padding) - 2px);
    border: 2px solid transparent;

    --c-text: var(--color-text);
    --c-text-tint: var(--color-muted);
    --c-bg-secondary: var(--color-base-200);
    --c-border: var(--color-border);
}
.h-field,
.h-field__dropdown {
    --color-text-muted: var(--c-text-tint);
    background: var(--c-bg-secondary);
    color: var(--c-text);
    border-radius: 8px;
}
.h-field--is-readonly {
    box-shadow: none;
    border: 1px solid var(--c-border);
    background: var(--c-bg-secondary);
    padding: calc(var(--h-field-vertical-padding) - 1px) calc(var(--h-field-horizontal-padding) - 1px);
}
.h-field--is-dashed {
    box-shadow: none;
    border: 2px dashed var(--c-border); /* var(--color-divider) */
}
.h-field__content {
    flex-grow: 2;
    max-width: 100%;
    min-width: 0;
    text-align: left;
}
.h-field__title {
    font-size: 14px;
    font-weight: 500;
    line-height: var(--h-field-title-height);
    color: var(--c-text-tint);
    margin-bottom: var(--h-field-title-margin);
    display: block;
}
.h-field__select-button {
    display: flex;
    align-items: center;
    max-width: 100%;
    width: 100%;

    &[disabled] {
        cursor: default;
    }
}
.h-field__select-icon {
    margin-right: 8px;
    border-radius: 50%;
}
.h-field__select-value {
    font-size: 18px;
    font-weight: 500;
    line-height: 20px; /*min-height: 24px;*/
    overflow: hidden;
    overflow-wrap: break-word;
}
.h-field__select-icon-arrow {
    margin-left: 8px;
}
.h-field__input {
    font-size: 18px;
    font-weight: 500;
    line-height: var(
        --h-field-input-height
    ); /* fix line-height for fake-inputs (e.g. address) */ /*line-height: 20px; min-height: var(--h-field-input-height);*/
    width: 100%;
    color: currentColor;
    padding: 0;
    background: transparent;
    border: none;
    overflow-wrap: break-word;
    font-feature-settings: 'calt' off;
    /* safari disabled fix */
    opacity: 1;
    -webkit-text-fill-color: currentcolor;
    /* ios shadow fix */
    -webkit-appearance: none;
    /* fix input letter size not to be larger than line-height */

    input& {
        height: var(--h-field-input-height);
    }

    /* fix firefox incorrectly set scrollHeight and cause incorrect autosize */
    /*textarea& {line-height: (var(--h-field-input-height) + 6px); margin-block: -3px;}*/

    &.h-field__input--medium {
        font-size: 16px;
        font-weight: 500; /*line-height: 22px;*/
        margin-block: 0;
    }

    &::placeholder {
        color: var(--c-text-tint);
    }

    &:focus::placeholder {
        color: transparent;
    }
}

.h-field__range {
    margin-top: 12px;
}

.h-field__aside {
    margin-left: 20px;
    flex-shrink: 99999;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    min-width: 0;
}
.h-field__aside--with-icon {
    min-width: 24px;
    margin-left: 8px;
}
/*.h-field__aside--with-input {flex-grow: 3;}*/
.h-field__aside-caption {
    font-size: 12px;
    font-weight: 500;
    line-height: var(--h-field-title-height);
    margin-bottom: var(--h-field-title-margin);
}
.h-field__aside-caption:only-child {
    margin-bottom: auto;
}
.h-field__aside-loader {
    width: var(--h-field-title-height);
    height: var(--h-field-title-height);
    margin: 0;
    vertical-align: top;
}
.h-field__aside-max {
    text-transform: uppercase;
    font-weight: 600;
    margin-left: -20px;
    white-space: nowrap;
    /*&:hover, &:focus {color: @c-main;}*/
    /*&:active {color: fade(@c-main, 40%);}*/
}
.h-field__aside-input {
    text-align: right;
    margin-top: auto;
}
/* possibly can be replaced with max value in pseudo content */
.h-field__aside-range {
    min-width: 4.25em;
}
.h-field__aside-control {
    font-size: 0;
}

.h-field__dropdown {
    position: absolute;
    top: 100%;
    left: -2px;
    right: -2px; /* border size */
    padding: 16px var(--h-field-horizontal-padding) 8px;
    margin-top: calc(-1 * (var(--h-field-vertical-padding) - 2px));
    z-index: 1;
}
.h-field__dropdown-field {
    position: relative;
}
.h-field__dropdown-field-icon {
    position: absolute;
    right: 16px;
    top: 8px;
    pointer-events: none;
}
.h-field__dropdown-input {
    border-radius: 12px;
    border: none;
    padding: 10px 16px;
    padding-right: calc(24px + 16px);
    background: #d4d4d4;
    font-size: 16px;
    line-height: 20px;
    font-weight: 600;
    height: 40px;
    width: 100%;

    &::placeholder {
        color: var(--c-text);
    }
}
.h-field__suggestion-list {
    margin-top: 8px;
    margin-inline: calc(-1 * var(--h-field-horizontal-padding));
    overflow: auto;
    max-height: 60vh;
}
.h-field__suggestion-item {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 8px var(--h-field-horizontal-padding);
    transition: 0.1s;
    /* &+& {margin-top: 16px;} */

    &:hover {
        background-color: rgba(0, 0, 0, 0.1);
    }
}
.h-field__suggestion-icon {
    flex-shrink: 0;
    margin-right: 8px;
    border-radius: 50%;
}
.h-field__suggestion-symbol {
    font-size: 18px;
    font-weight: 500;
    line-height: var(--h-field-input-height);
}
.h-field__suggestion-amount {
    margin-left: 4px;
}

/*
.field-estimation {
    text-align: center;
    border-radius: 20px;
    background: var(--c-secondary);
    padding: 16px;
}
.field-estimation__title {
    font-size: 14px;
    font-weight: 500;
    line-height: var(--h-field-title-height);
    color: var(--c-text-tint);
}
.field-estimation__title-small {
    font-size: 12px;
    font-weight: 500;
    line-height: var(--h-field-title-height);
    color: var(--c-text-tint);
}
*/
